@use 'sass:math';

@import '../../../theme/variables/structure';
@import '../../../theme/variables/spacing';
@import '../../../theme/variables/colors';

$logo-height: math.div($header-height, 2);

.logo {
  cursor: pointer;
  height: $logo-height;
  width: min-content;
}

.link {
  text-decoration: none;
  overflow: hidden;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  color: $title-color;
}

.image {
  width: $logo-height;
  height: $logo-height;
  margin-right: $spacing-3;
}

.name {
  line-height: $logo-height;
  white-space: nowrap;
  font-size: math.round(math.div($header-height, 3));
}
