@import '../../../theme/variables/colors';
@import '../../../theme/variables/structure';
@import '../../../theme/variables/spacing';
@import '../../../theme/variables/shadows';

.dropdown {
  position: relative;
  cursor: pointer;

  &.dropdown {
    &-open {
      .label {
        color: $disable-color;
      }

      .control {
        border-color: $primary-color;
        box-shadow: $shadow-3;
      }
    }

    &-menu {
      width: fit-content;

      .control {
        width: fit-content;
        padding-left: 0;
      }
    }

    &-select {
      width: 100%;

      .control {
        width: 100%;
        padding-left: $spacing-3;
      }
    }

    &-disabled {
      user-select: none;
      cursor: not-allowed;

      .label {
        color: $disable-color;
      }
    }
  }
}

.control {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius-base;
  color: $base-color;
  outline: none;
  transition: all 200ms ease;
  height: 34px;
  min-width: 34px;
  line-height: 32px;
}

.label {
  display: inline-block;
  height: 100%;
  text-align: start;
  width: calc(100% - ($icon-size + $spacing-2));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &.placeholder {
    color: $disable-color;
  }
}
