$flex-grid-size: 24;

.row {
  display: flex;
  flex-direction: row;
  min-width: 0;
  margin: 0;
  padding: 0;
}

.col {
  display: block;
  min-height: 1px;
  max-width: 100%;

  @for $span from 0 through $flex-grid-size {
    &.span-#{$span} {
      @if $span == 0 {
        flex: 0 0 100%;
        max-width: 100%;
      } @else {
        flex: 0 0 calc(100% / $flex-grid-size * $span);
        max-width: calc(100% / $flex-grid-size * $span);
      }

      &.grow {
        flex: auto;
        max-width: 100%;
      }
    }
  }

  &.grow {
    flex-grow: 1;
    max-width: 100%;
  }
}

:export {
  size: $flex-grid-size;
}
