// FIXME: fix after add open arrow icon
.open {
  border-color: red transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

// FIXME: fix after add close arrow icon
.close {
  border-color: transparent transparent #999;
  border-style: solid;
  border-width: 0 5px 5px;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}
