.btn {
  @bind (
    color: blue,
    background-color: red,
    border-color: green
  );

  &_danger {
    @bind (
      color: red
    );

    &:hover {
      @bind (
        color: black
      );
    }
  }
}
