@import '../../../theme/variables/breakpoints.module';

// FIXME: spacing

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  display: block;
}

.small {
  max-width: calc(var(--resolution-sm) - var(--spacing-sm));

  &.container {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
}

.medium {
  max-width: calc(var(--resolution-md) - var(--spacing-md));

  &.container {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}

.large {
  max-width: calc(var(--resolution-lg) - var(--spacing-lg));
}

.extra {
  max-width: calc(var(--resolution-xl) - var(--spacing-lg));
}

.super {
  max-width: calc(var(--resolution-sl) - var(--spacing-lg));
}
