@import '../../../theme/variables/colors';

// color types: primary, secondary, success, danger, warning, info, light, dark, link
// style types: primary, default, dashed, link, text
// size: large, default, small
// form/shape: square, round, circle

.btn {
  color: gray(900);
  background-color: red;
  border-color: green;
  font-size: 16px;

  &_danger {
    color: red;

    &:hover {
      color: black;
    }
  }
}
