@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/structure';
@import '../../../../../theme/variables/spacing';

.control {
  text-align: start;
  height: 100%;
  width: calc(100% - ($icon-size + $spacing-2));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $title-color;
}

.visible {
  display: inline-block;
}

.hidden {
  display: none;
}

.label {
  cursor: pointer;

  &.placeholder {
    color: $disable-color;
  }
}

.input {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
  appearance: none;
  cursor: text;

  &::placeholder {
    color: $disable-color;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
