@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/structure';
@import '../../../../../theme/variables/spacing';
@import '../../../../../theme/variables/shadows';

$dropdown-control-normal-size: 32px;

.control {
  position: relative;
  cursor: pointer;
  color: $title-color;
  background-color: $white;
  border: $border-width solid $border-color;
  border-radius: $border-radius-base;
  height: calc($dropdown-control-normal-size + ($border-width * 2));
  min-width: calc($dropdown-control-normal-size + ($border-width * 2));
  line-height: $dropdown-control-normal-size;

  &.menu {
    width: fit-content;
  }

  &.select {
    width: 100%;
  }

  &.disabled {
    user-select: none;
    cursor: not-allowed;
    background-color: $background-color-neutral;
    color: $disable-color;
  }

  &.open,
  &:hover:not(.disabled) {
    border-color: $primary-color;
    box-shadow: $shadow-3;
  }
}
