@import '../../../../../theme/variables/spacing';
@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/shadows';
@import '../../../../../theme/variables/structure';

.menu {
  background-color: $background-color-base;
  border-radius: $border-radius-large;
  border: 1px solid $border-color;
  box-shadow: $shadow-2;
  list-style: none;
  margin-top: $spacing-1;
  max-height: $menu-height;
  overflow-y: auto;
  padding: $spacing-1;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: $menu-z-index;
  -webkit-overflow-scrolling: touch;
  transition: visibility 0s, opacity 0.2s ease-out;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
