@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/structure';
@import '../../../../../theme/variables/spacing';
@import '../../../../../theme/variables/shadows';

$normal-size: 32px;

.listbox {
  position: relative;
  color: $title-color;
  background-color: $white;
  border: $border-width solid $border-color;
  border-radius: $border-radius-base;
  height: calc($normal-size + ($border-width * 2));
  min-width: calc($normal-size + ($border-width * 2));
  line-height: $normal-size;
  width: 100%;

  &.disabled {
    user-select: none;
    cursor: not-allowed;
    background-color: $background-color-neutral;
    color: $disable-color;
  }

  &.open,
  &:hover:not(.disabled) {
    border-color: $primary-color;
    box-shadow: $shadow-3;
  }
}
