@import '../../../../../theme/variables/font';
@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/structure';

.option {
  color: $base-color;
  cursor: pointer;
  display: block;
  font-size: $font-size-base;
  line-height: $line-height;
  padding: $dropdown-item-padding;
  transition: all 0.2s;
  border-radius: $border-radius-base;

  &:hover:not(.disabled, .selected) {
    background-color: $background-color-neutral;
  }

  &.selected {
    font-weight: $font-weight-bold;
    background-color: $background-color-primary;
  }

  &.disabled {
    color: $disable-color;
    cursor: not-allowed;
  }
}
