@import '../../../theme/variables/structure';
@import '../../../theme/variables/spacing';
@import '../../../theme/variables/colors';
@import '../../../theme/variables/shadows';

.header {
  flex-flow: nowrap;
  height: $header-height;
  border-bottom: 1px solid $border-color;
  box-shadow: $box-shadow;
}

.container {
  height: 100%;
  padding-left: $spacing-5;
  padding-right: $spacing-5;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
