$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-sl: 1536px;

:export {
  sm: $breakpoint-sm;
  md: $breakpoint-md;
  lg: $breakpoint-lg;
  xl: $breakpoint-xl;
  sl: $breakpoint-sl;
}
