$shadow-1: 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 2px 4px 0 rgb(0 0 0 / 2%) !default;
$shadow-2: rgb(0 0 0 / 8%) 0px 6px 16px 0px, rgb(0 0 0 / 12%) 0px 3px 6px -4px, rgb(0 0 0 / 5%) 0px 9px 28px 8px;
$shadow-3: 0 0 0 2px rgb(5 145 255 / 10%);
