@import '../../../../../theme/variables/spacing';
@import '../../../../../theme/variables/colors';
@import '../../../../../theme/variables/font';

.item {
  padding-inline: $spacing-3;
  color: $base-color;
  cursor: pointer;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  user-select: none;

  &:hover,
  &.selected {
    color: $primary-color;
  }

  &.disabled {
    color: $disable-color;
    cursor: not-allowed;
  }
}
