.menu {
  list-style: none;
  outline: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  line-height: 48px;
  width: 100%;
}

.vertical {
  display: block;
}

.horizontal {
  display: flex;
  align-items: flex-end;
}
